{% extends 'base.html.twig' %}

{% block title %}{% trans %}home.title{% endtrans %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{% trans %}home.title{% endtrans %} ✅</h1>

    <p>{% trans %}home.intro{% endtrans %}</p>
</div>
{% endblock %}
