{% extends 'base.html.twig' %}

{% block title %}{% trans %}tickets.title{% endtrans %}{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{% trans %}tickets.title{% endtrans %}</h1>

    {% for ticket in tickets %}
        <div style="border:1px solid black; margin:10px;">
        <h3>{{ ticket.name }}</h3>
        {{ ticket.content|nl2br }}
        <div>
            Users :
            <ul>
            {% for user in ticket.users %}
                <li>{{ user }}</li>
            {% endfor %}
            </ul>
        </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
